/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/node_crawler/node_modules
/template

/public/upload/crawledData/*
/public/upload/images/*
/public/upload/thumb_images/*